extends ../layouts/common.pug
block content
    h1 users 
    a(href="/users/create") new user 
    form(action="/users/search", class="form-group",method="GET")
        input(type="text" name="q" class="form-control mb-2")
        button(class="btn mt-10  btn-primary") search

    ul
        each user in users
            li  
                span= user.name
                span &nbsp;
                a(href = "/users/" + user.id) view