extends ../layouts/header.pug
block header
    div(class="container")
        .d-flex.mb-2
            h1 users 
            a(href="/users/create").btn.btn-primary.m-2 new user 
        form(action="/users/search", class="form-group d-flex",method="GET")
            input(type="text" name="q" class="form-control me-2")
            button(class="btn btn-primary ml-2") search
        table.table
            tr
                th Name
                th Phone
                th Action
            each user in users
                tr  
                    td= user.name
                    td= user.phone
                    td
                        a(href = "/users/" + user.id).btn.btn-Light view
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js",integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf",crossorigin="anonymous")